span{
    color: red;
}

p.completed{
    text-decoration: line-through;
    background-color: lightgreen !important;

}

#todo-list > p, p.completed{
    background-color: green;
    color: white;
    padding: .5em; 
    border-radius: .2em;
    display: inline-block;
    margin-right: .75em;
}