.jumbotron{
    padding-bottom: 0%;
}

span{
    color: red;
}

.completed{
    text-decoration: line-through;
    background-color: lightgreen !important;
}

#todo-list > p, p.completed{
    background-color: green;
    color: white;
    padding: .5em; 
    border-radius: .2em;
    display: inline-block;
    margin-right: .75em;
}
.row > div{
    border-radius: 2em;
    padding: 2em;
}
.list-group-item-danger{
    background-color: rgb(167, 4, 4);
}
#add-item-box{
    background-color: rgb(185, 253, 179);
    border: dotted rgb(9, 175, 31);
}

#to-do-list{
    background-color: rgb(231, 245, 253);
    border: dotted rgb(9, 136, 175);
}