.jumbotron{
    /*background-color: rgb(255, 199, 134) !important;*/
}

span{
    color: red;
}

p.completed{
    text-decoration: line-through;
    background-color: lightgreen !important;

}

#todo-list > p, p.completed{
    background-color: green;
    color: white;
    padding: .5em; 
    border-radius: .2em;
    display: inline-block;
    margin-right: .75em;
}
#add-item-box{
    padding: 2em;
}

#add-item-box{
border: pink !important;
}